::-webkit-scrollbar {
	width: 10px;     
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background-color:  rgb(197, 197, 197);
	border-radius: 20px;
}
body{
  font-family: 'Commissioner', sans-serif;
}
main{
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  padding: 30px;
	margin:30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width: 50vw;
	background-color: rgb(255, 255, 255);

}
.gender-choice{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
	align-self: flex-start;
	padding-left: 0;
	width: 100%;
	margin: 0 0;
	margin-bottom: 10px;
}
.radio-gender input[type=radio] {
	display: none;
}
.radio-gender label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.radio-gender label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	bottom:0.5px;
	background: url(../img/icon-radio-empty.svg) 0 0 no-repeat;
}
 
/* Checked */
.radio-gender input[type=radio]:checked + label:before {
	background: url(../img/icon-radio-checked.svg) 0 0 no-repeat;
}
 
.radio-gender label:hover:before {
	filter: brightness(120%);
}
 .form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}
.gender-icon{
  position: relative;
  top: 12px;
  width: 40px;
  height: 40px;
}
label:hover{
	text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.stats-holder, .gender-holder{
  display: flex;
  flex-direction: column;
  margin-right: 45%;
  border: none;
  width: auto;
}
.stat-row{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stat-header{
  align-self: flex-start;
}
.stat-input{
  align-self: flex-end;
  display: flex;
  align-items: center;
}
.short{
  width: 40px;
  text-align: center;
}
.stat-row input{
  width: 80px;
  border: solid 1.6px rgb(189, 189, 189);
  height: 30px;
  border-radius: 2px;

}
.activity-holder{
  border: none;
	padding: 0;
	padding-bottom: 15px;
}
.activity-form{
	padding: 5px;
	border-radius: 6px;
	background-color: #fff;
  border: solid 1.6px rgb(189, 189, 189);
}
.buttons-holder{
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
button{
	border: none;
  padding: 10px;
  border-radius: 10px;
	width: max-content;
}
.submit, .reset{
	padding-left: 30px;
	position: relative;
}
.submit{
	margin-bottom: 15px;
}
button:disabled{
  color: rgb(134, 134, 134);
  background-color: rgb(230, 230, 230);
}
button:enabled{
  color: rgb(0, 0, 0);
  background-color: rgb(189, 189, 189);
  transition: 0.3s;
}
button:hover:enabled{
  filter: brightness(0.8);
  cursor: pointer;
}
button:active:enabled{
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(99, 99, 99);
}
.submit:enabled:before{
	content: url('../img/icon-check.svg');
	width: 20px;
	height: 20px;
	left:5px;
	bottom:10px;
	position: absolute;
	filter: brightness(0);
}
.submit:disabled:before{
	content: url('../img/icon-check.svg');
	width: 20px;
	height: 20px;
	left:5px;
	bottom:10px;
	position: absolute;
	filter: brightness(0);
	opacity: 0.4;
}
.reset:enabled:before{
	content: url('../img/icon-cross.svg');
	width: 20px;
	height: 20px;
	left:5px;
	bottom:10px;
	position: absolute;
	filter: brightness(0);
}
.reset:disabled:before{
	content: url('../img/icon-cross.svg');
	width: 20px;
	height: 20px;
	left:5px;
	bottom:10px;
	position: absolute;
	filter: brightness(0);
	opacity: 0.4;
}

.calBlock{
  display: none;
	flex-direction: column;
	align-items: center;
	justify-content:center;
}
.calBlock ul{
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: space-evenly;
	padding-left: 0;
}
.calBlock ul li{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.calBlock ul li p{
	margin: 0;
	font-size: large;
	text-align: center;
}
.calBlock ul li h3{
	height: -webkit-fill-available;
	margin-bottom: 5px;
}
.calBlock ul li span{
	font-size: 20px;
}
.circle{
	opacity: none;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}
.footer a{
	color:rgb(71, 133, 214)
}
.footer a:hover{
	color:rgb(27, 92, 177)
}
@media only screen and (max-width: 840px) {
	.main{
		width: 100vw;
		font-size: 14px;
	}
	.main-container{
		width: 90%;
		align-items: center;
		justify-content: center;
		padding: 10px;
	}
	.main-container h1{
		font-size: 23px;
	}
	.main-container h2{
		font-size: 18px;
	}
	.activity-holder{
		border: none;
		padding: 0;
		padding-bottom: 15px;
	}
	.activity-form{
		font-size: 13px;
		padding: 5px;
		border-radius: 6px;
		background-color: #fff;
		border: solid 1.6px rgb(189, 189, 189);
	}
	.gender-choice{
		width: 90vw;
	}
}
/* stylelint-disable */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
